body {
background-color: #eae1f6 ;
color: rgb(2, 1, 64);
font-family:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
font-weight: 700;
}
